doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 Custom Object Table 
        a(href="/update-cobj") Create New Car
        table.contact-table
            thead
            tr
                th.table-header Name
                th.table-header Description
                th.table-header Price
                th.table-header
            tbody
            each car in cars
                tr.table-row
                    td.table-cell #{car.name}
                    td.table-cell #{car.description}
                    td.table-cell #{car.price}
                    td.table-cell
                        a(href=`/update-cobj?id=${car.id}`) Update
