html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Car Details
    a(href="/") Return to the homepage
    form(action="/update-cobj", method="POST")
      div
        input(type="hidden", name="id", id="id", value=car.id, required)
      div
        label(for="name") Name:
        input(type="text", name="name", id="name", value=car.name, required)
      div
        label(for="description") Description:
        input(type="text", name="description", id="description", value=car.description)
      div
        label(for="price") Price:
        input(type="number", name="price", id="price", value=car.price)
 
      button(type="submit") Save Changes
